.hyperlink {
    -fx-text-fill: #a0b4d0;
    -fx-underline: false;
    -fx-border-color: transparent;
}

.hyperlink:hover {
    -fx-text-fill: #3784e9;
    -fx-underline: false;
}

.graph-view{
    -fx-background-color: white;
    -fx-arc-width: 45px;
    -fx-arc-height: 45px;
    -fx-background-radius: 50px;
    -fx-opacity: 0.8;
}

.history-view{
    -fx-background-color: white;
    -fx-arc-width: 45px;
    -fx-arc-height: 45px;
    -fx-opacity: 0.8;
}

.show-stats-pie{
    -fx-pref-width: 420;
    -fx-pref-height: 270;
    -fx-min-width: 420;
    -fx-min-height: 270;
    -fx-max-width: 420;
    -fx-max-height: 270;
}

.pie-data{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20;
}
